page-login {

  .backgroundLogin {
background-image: url('../assets/imgs/backedit1.jpg');
background-size: cover;
}

.logoTexto {
  font-size: 100px;
}

.small_button{
    line-height: 5px !important;
    min-height: 24px !important;
}

}
